/* Sidebar */
/* REFERENCE THENEWBOSTON BOOTSTRAP TUTORIALS - https://www.youtube.com/playlist?list=PL6gx4Cwl9DGBPw1sFodruZUPheWVKchlM */
#sidebar-wrapper
{
	z-index: 1;
	position: absolute;
	width: 0;
	height: 100%;
	overflow-y: hidden;
	background: #2C3E50;
	margin-top: -20px;
	

}

/* Main content */
#page-content-wrapper
{
	width: 100%;
	position: absolute;
	padding: 15px;

}

/* Change the width of the sidebar to display it */
#wrapper.menuDisplayed #sidebar-wrapper
{
	width: 250px;
}

#wrapper.menuDisplayed #page-content-wrapper
{
	padding-left: 250px;
}

/* Sidebar styling */
.sidebar-nav
{
	padding: 0;
	list-style: none;
	
}
.sidebar-nav li
{
	text-indent: 20px;
	line-height: 40px;
	
}
.sidebar-nav li a
{
	display: block;
	text-decoration: none;
	color: #ddd;
}
.sidebar-nav li a:hover
{
	background: #757575;
}
.sidebar-nav li .form-group{
	text-indent: 0px;
}
.container canvas{
border-style: solid;
    border-width: medium;
padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
overflow:hidden;

}
.btn-group{
margin-top:30px;
}

.nav-tabs li a{
background-color:#5CB85C;
color:white;
}
//this body rule affects new an view experiements but not slider page
body{
   max-width:1880px;
   height:auto;
   margin:0 auto;
   //background-color:blue;
}

